node_modules/
.expo/
npm-debug.log
.DS_Store
*.jks
*.p12
*.key
*.mobileprovision
*.orig
web-build/
dist/
coverage/
.idea/
.vscode/
.history/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnp/
.pnp.js
.pnp.cjs
